<!DOCTYPE HTML>
<html class="no-js" lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DeliveryPC | Histórico</title>
    <link rel="stylesheet" href="../css/foundation.css" />
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Kanit:400,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!-- TO DO: Melhorar a responsividade depois -->
    <!-- <div class="title-bar" data-responsive-toggle="top-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle></button>
      <div class="title-bar-title">Menu</div>
    </div> -->
    <div class="top-bar" id="top-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu top-menu" data-dropdown-menu>
          <li class="menu-text">
            <a href="/dash/colaborador"><div class="top-bar-logo"></div></a>
          </li>
          <li><a href="/dash/colaborador">Dashboard</a></li>
          <li><a href="/dash/update">Atualizar Dados</a></li>
          <li><a class="is-active" href="/dash/history">Histórico</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/dash/logout" class="button">Sair</a></li>
        </ul>
      </div>
    </div>
    <footer class="footer-box">
      <div class="row">
        <div class="small-6 large-6 columns">
          <div class="footer-content">
            &copy; 2016 <strong>Vision Tech Brazil</strong>. Todos os direitos reservados.
          </div>
        </div>
        <div class="small-6 large-6 columns ">
          <ul class="menu float-right footer-content-list">
            <li><a href="#">Ajuda</a></li>
            <li><a href="#">Termo de Privacidade</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="../js/vendor/jquery.min.js"></script>
    <script src="../js/vendor/what-input.min.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
