<!DOCTYPE HTML>
<html class="no-js" lang="pt-br">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DeliveryPC | Recuperar Senha</title>
  <link rel="stylesheet" href="css/foundation.css" />
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Kanit:400,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <!-- Menu superior -->
  <div class="top-bar" id="top-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu top-menu" data-dropdown-menu>
        <li class="menu-text">
          <a data-tooltip aria-haspopup="true" title="Voltar para a página de login" href="/login"><div class="top-bar-logo"></div></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row row-space">
    <!-- Formulário de verificação -->
    <form id="verify" data-abide novalidate>
      <div class="small-12 large-5 columns">
        <h4 class="main-title"><span class="badge alert">1</span> GERAR CÓDIGO DE VERIFICAÇÃO</h4>
        <div data-abide-error class="alert callout" style="display: none;">
          <p><i class="fa fa-exclamation-circle"></i> Campos obrigatórios.</p>
        </div>
        <div class="input-group">
          <span class="input-group-label">DDD</span>
          <input type="number" class="input-group-field" name="dd"  placeholder="00" required>
        </div>
        <div class="input-group">
          <span class="input-group-label">Número do telefone</span>
          <input type="number" class="input-group-field" name="phone"  placeholder="99999999" required>
        </div>
        <div class="callout callout-alert">
          <p>O código de verificação será enviado para o seu <strong>Telegram</strong> somente se sua conta já estiver registrada no DeliveryPC.</p>
        </div>   
        <div class="text-center">
          <!-- TOD DO: COLOCAR MODAL AQUI, INFORMANDO O SEGUINTE, CASO O FORMULÁRIO SEJA BEM SUCEDIDO: Enviamos seu código. Dê uma olhada no Telegram! -->
          <input type="submit" class="secondary button" value="Gerar Código">
        </div>
      </div>
    </form>
    <!-- Formulário de nova senha -->
    <form id="password" data-abide novalidate>
      <div class="small-12 large-5 large-offset-2 columns">
        <h4 class="main-title"><span class="badge alert">2</span> ALTERAR SENHA</h4>
        <div data-abide-error class="alert callout" style="display: none;">
          <p><i class="fa fa-exclamation-circle"></i> Campos obrigatórios.</p>
        </div>
        <div class="input-group">
          <span class="input-group-label">Nova Senha</span>
          <input class="input-group-field" name="password1" id="newpassword" type="password" placeholder="Sua nova senha aqui" required>
        </div>
        <div class="input-group">
          <span class="input-group-label">Confirmar Senha</span>
          <input class="input-group-field" name="password2" id="newpasswordconfirm" type="password" placeholder="Repita sua nova senha" required>
        </div>
        <div class="input-group">
          <span class="input-group-label">Código de Verificação</span>
          <input class="input-group-field" name="verification_code" type="text" placeholder="00000000" required>
        </div>
        <p class="help-text space" id="codever">Insira aqui o código que você recebeu pelo <strong>Telegram</strong>.</p>
        <div class="text-center">
          <input type="submit" class="secondary button" value="Alterar Senha">
        </div>
      </div>
    </form>
  </div>
  <!-- Footer alternativo -->
  <footer>
    <div class="row">
      <div class="small-12 large-12 columns">
        <div class="footer-content-login">
          &copy; 2016 <strong>Vision Tech Brazil</strong>. Todos os direitos reservados.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 large-12 columns">
        <div class="menu-centered">
          <ul class="menu footer-links-login">
            <li><a href="#">Ajuda</a></li>
            <li><a href="#">Termo de Privacidade</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <!-- <script src="js/vendor/what-input.min.js"></script> -->
  <script src="js/foundation.min.js"></script>
  <script src="js/app.js"></script>
  <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){

      $("#verify").on('valid.zf.abide', function(event){
        if(event.target.type != 'submit')
          return; 

        var param = $(this).serializeArray(); 

        $.post({
          url: '/getVerificationcCode', 
          data: param 
        }).done(function(data){
          if(data.status)
            alertify.alert("Cheque seu <i>Telegram</i>."); 
          else
            alertify.error(data.msg); 

        }).fail(function(){
          alertify.error('Erro na conexão, tente novamente.'); 
        }); 

      }).on('submit', function(event){
        event.preventDefault();
      });


      $('#password').on('valid.zf.abide', function(event){
        if(event.target.type != 'submit')
          return; 

        var param = $(this).serializeArray(); 

        $.post({
          url: '/passwordChange', 
          data: param
        }).done(function(data){
          if(!data.status)
            alertify.error(data.msg); 
          else
            alertify.alert("Senha alterada com sucesso."); 
          
        }).fail(function(){
          alertify.error('Erro na conexão, tente novamente.'); 
        }); 
      }).on('submit', function(event){
        event.preventDefault();
      });
    }); 

  </script>
</body>
</html>
